# Python virtual environment
venv/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/

# Data files (raw & processed)
data/raw/
data/processed/

# OS files
.DS_Store
Thumbs.db

# IDE files (VS Code)
.vscode/